pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.36
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.36.deb
	source = openwork-0.11.36.deb::https://github.com/different-ai/openwork/releases/download/v0.11.36/openwork-desktop-linux-amd64.deb
	sha256sums = e367bd6bbde589861c91b2e50dd29e860df8ebeee2279cde82e51bf9e2166b46

pkgname = openwork
