pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.18
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.18.deb
	source = openwork-0.11.18.deb::https://github.com/different-ai/openwork/releases/download/v0.11.18/openwork-desktop-linux-amd64.deb
	sha256sums = 32a93aec25d75f1fa1660ad664adab469a4a854dae04bea28e4e614e7146f6fa

pkgname = openwork
